<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:hsql://localhost/BookShopDB</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

        <property name="show_sql">true</property>

        <!-- "false" = i want to use transactions -->
        <property name="connection.autocommit">false</property>

        <!-- "create-drop" = drop and create a clean database each time we deploy -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="sk.elko.trainings.hibernate.bookshop.bo.Address" />
        <mapping class="sk.elko.trainings.hibernate.bookshop.bo.Book" />
        <mapping class="sk.elko.trainings.hibernate.bookshop.bo.Chapter" />
        <mapping class="sk.elko.trainings.hibernate.bookshop.bo.Customer" />
        <mapping class="sk.elko.trainings.hibernate.bookshop.bo.Product" />
        <mapping class="sk.elko.trainings.hibernate.bookshop.bo.Publisher" />
        <mapping class="sk.elko.trainings.hibernate.bookshop.bo.Reservation" />

        <mapping resource="services.query.xml" />
    </session-factory>
</hibernate-configuration>